*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("/Bus-service/d22d12eb3cc9c0cd4596f2f381ddca9f.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 90vh;
  width: 100%;
}
.navbar{
  background-color: #393A44;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
}
.btn3{
  padding: 10px 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  position: relative;
  right: -130px;
}
.logo img{
  position: absolute;
  left: 4%;
  top: -4px;
  height: 80px;
  width: 100px;
  padding: 5px;
}
.container p{
  font-size: 32px;
  color: white;
  font-weight: 800;
  font-family: "Times New Roman";
}
.container{
  margin-top: 20px;
  margin-left: 20px;
}
.btn2{
  padding: 10px 40px;
  margin-top: 20px;
  border-radius: 30px;
  border: none;
  background-color: #FF891D;
  color: white;
}
.container span{
  color: red;
}